<html>
	<head>
		<title>{{title}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
		<script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
		<script src="/script/autocomplete.min.js"></script>
		<script src="/script/main.js"></script>
	</head>		
	<body>
		{{{body}}}
	</body>
</html>